body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #36195b;
    color: white;
    transition: background 0.3s, color 0.3s;
}

.light-mode {
    background-color: #B9E9E9;
    color: black;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
}

.analog-clock {
    width: 90vw;
    height: 90vw;
    max-width: 600px;
    max-height: 600px;
    border: 10px solid white;
    border-radius: 50%;
    position: relative;
    margin: auto;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}

.hand {
    position: absolute;
    width: 50%;
    height: 4px;
    background: white;
    top: 50%;
    left: 50%;
    transform-origin: left;
    transform: rotate(90deg);
    transition: transform 0.1s linear;
}

.hour-hand { width: 30%; height: 6px; }
.minute-hand { width: 40%; height: 4px; }
.second-hand { width: 50%; height: 2px; background: red; }

.center-dot {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
