body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: white;
    transition: background 0.3s, color 0.3s;
}

.container {
    margin-top: 20vh;
}

button {
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.light-mode {
    background-color: white;
    color: black;
}
